.filtercheckbox {
    position: absolute;
    right: 30px;
    justify-content: center;
}

.filtercheckbox__input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.filtercheckbox__checkbox {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #2BE080;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.filtercheckbox__checkbox::before {
    position: absolute;
    top: 50%;
    right: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    content: "";
    transform: translateY(-50%);
}

.filtercheckbox__input:checked+.filtercheckbox__checkbox::before {
    left: 2px;
    right: auto;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.filtercheckbox__input:checked+.filtercheckbox__checkbox {
    background-color: #ebebeb;
}

.filtercheckbox__label {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.filtercheckbox__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

@media screen and (max-width: 1024px) {
    .filtercheckbox {
        right: 19px;
    }
    
}

@media screen and (max-width: 630px) {
    .filtercheckbox {
        top: 118px;
        right: calc(50% - 74px);
    }
}