.navtab {
    margin: 0 auto;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 96px 96px 96px;
    gap: 10px;
}

.navtab__button {
    margin: 0;
    padding: 0;
    width: 96px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    background-color: #E8E8E8;
    border: none;
    border-radius: 10px; 
    text-decoration: none;
    transition: opacity .6s;
}

.navtab__button:hover {
    opacity: .65;
}

@media screen and (max-width: 480px) {
    .navtab {
        gap: 6px;
        grid-template-columns: 82px 82px 82px;
    }
    
    .navtab__button {
        width: 82px;
        height: 26px;
        font-size: 10px;
        border-radius: 6px; 
    }
  }